@font-face {
  font-family: "Klinic";
  src: url('../fonts/KlinicSlabBold.otf');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Klinic";
  src: url('../fonts/KlinicSlabMedium.otf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Klinic";
  src: url('../fonts/KlinicSlabBook.otf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Klinic";
  src: url('../fonts/KlinicSlabLight.otf');
  font-weight: 200;
  font-style: normal;
}
.salmonbkg {
  background-color: #f36853;
}
.greenbkg {
  background-color: #96c758;
}
.purplebkg {
  background-color: #9369a6;
}
.logo,
.slogan {
  position: absolute;
}
@media screen and (min-width: 768px) {
  .slogan {
    width: 257px;
    height: 98px;
    right: 80px;
    bottom: 5em;
  }
}
@media screen and (max-width: 767px) {
  .slogan {
    width: 89.94999999999999px;
    height: 34.3px;
    left: 80px;
    right: 0;
    bottom: 2.5em;
    margin: 0px auto;
  }
}
.logo-img {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .logo-big {
    width: 392px;
    height: 98px;
    right: 337px;
    bottom: 5em;
  }
}
@media screen and (max-width: 767px) {
  .logo-big {
    width: 156.8px;
    height: 39.2px;
    left: 0;
    right: 0;
    bottom: 4em;
    margin: 0px auto;
  }
}
@media screen and (min-width: 768px) {
  .logo-small {
    width: 235.2px;
    height: 58.8px;
    right: 66%;
    bottom: 5em;
  }
}
@media screen and (max-width: 767px) {
  .logo-small {
    width: 156.8px;
    height: 39.2px;
    left: 0;
    right: 0;
    bottom: 4em;
    margin: 0px auto;
  }
}
.hex-menu {
  position: relative;
  top: 100px;
  left: 250px;
}
section {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  z-index: 1060;
}
.section {
  margin-top: 0;
  position: absolute;
}
@media screen and (min-width: 768px) {
  .section {
    top: 1.5em;
    right: 61%;
    width: 440px;
  }
}
@media screen and (max-width: 767px) {
  .section {
    top: 3em;
    width: 210px;
    left: 0;
    right: 0;
    margin: 0px auto;
    padding-left: 10px;
  }
}
.section h3 {
  margin: 0em;
  font-weight: 400;
  padding-top: 1.5em;
  padding-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .section h3 {
    font-size: 20px;
  }
}
@media screen and (max-width: 767px) {
  .section h3 {
    display: none;
  }
}
.btn {
  font-weight: 800;
  border: none;
  -webkit-box-shadow: 0 3px 0 0 #D4C3D9;
  box-shadow: 0 3px 0 0 #D4C3D9;
  border: 1px solid #C9B5D0;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
}
.btn:active {
  border: 1px solid #C9B5D0;
  -webkit-box-shadow: 0px 2px 0px 0px #D4C3D9;
  box-shadow: 0px 2px 0px 0px #D4C3D9;
  margin-top: 1px;
  margin-bottom: -1px;
}
.no-touch.js .interactive div.hex {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
.list-hex-grid {
  margin: 0;
  font-size: 0px;
  word-spacing: 1px;
  word-spacing: 0;
}
.list-hex-grid img {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  vertical-align: top;
}
.list-hex-grid div.hex {
  font-size: 16px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-top: 37px;
  margin-bottom: 37px;
  float: none;
  position: relative;
  z-index: 10;
}
.list-hex-grid div.hex > a,
.list-hex-grid div.hex > div {
  font-size: 18px;
  word-spacing: 1px;
  -webkit-transition: none 1s;
  -moz-transition: none 1s;
  -o-transition: none 1s;
  transition: none 1s;
  background-color: whitesmoke;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: auto 220px;
  -moz-background-size: auto 220px;
  -o-background-size: auto 220px;
  background-size: auto 220px;
  text-align: center;
  display: block;
  border: none;
  color: #fff;
  -webkit-backface-visibility: hidden;
}
.list-hex-grid div.hex p {
  color: #fff;
  font-size: 16px;
}
.list-hex-grid div.hex .inner {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  white-space: normal;
  z-index: 20;
  position: relative;
  max-width: 80%;
  color: #fff !important;
  font-family: "Klinic", sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 22px;
}
.list-hex-grid div.hex .inner img {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
.list-hex-grid div.hex .hex-1,
.list-hex-grid div.hex .hex-2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -2;
  overflow: hidden;
  background: inherit;
  -webkit-backface-visibility: hidden;
}
.list-hex-grid div.hex .hex-1:before,
.list-hex-grid div.hex .hex-2:before {
  content: '';
  position: absolute;
  left: 0;
  z-index: -1;
  background: inherit;
}
.list-hex-grid div.hex .hex-1 .after,
.list-hex-grid div.hex .hex-2 .after {
  z-index: -1;
}
.list-hex-grid div.hex .hex-1 {
  z-index: -1;
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
}
.list-hex-grid div.hex .hex-1:before {
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
}
.list-hex-grid div.hex .hex-2 {
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
.list-hex-grid div.hex .hex-2:before {
  bottom: 0;
}
.list-hex-grid div.hex .after {
  -webkit-transition: none 1s;
  -moz-transition: none 1s;
  -o-transition: none 1s;
  transition: none 1s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
}
.list-hex-grid div.info h3 {
  background: #f36853;
}
.list-hex-grid div.info a {
  background-image: url("../images/info-bkg.png");
}
.list-hex-grid div.info a.border {
  background-image: url("../images/info-bkg-border.png");
}
.list-hex-grid div.work a {
  background-image: url("../images/work-bkg.png");
}
.list-hex-grid div.work a.border {
  background-image: url("../images/work-bkg-border.png");
}
.list-hex-grid div.work h3 {
  background: #9369a6;
}
.list-hex-grid div.work-active .after,
.list-hex-grid div.mail-active .after,
.list-hex-grid div.info-active .after {
  background: transparent;
}
.list-hex-grid div.mail h3 {
  background: #96c758;
}
.list-hex-grid div.mail a {
  background-image: url("../images/mail-bkg.png");
}
.list-hex-grid div.mail a.border {
  background-image: url("../images/mail-bkg-border.png");
}
.list-hex-grid div.annex .after {
  background: none;
}
.list-hex-grid div.annex a {
  background-image: url("../images/annex-bkg.png");
}
.list-hex-grid div.annex a.border {
  background-image: url("../images/annex-bkg-border.png");
}
.list-hex-grid div.ideas .after {
  background: #586c93;
}
.regular {
  opacity: 0;
}
.hovered {
  opacity: 30%;
}
@media screen and (min-width: 768px) {
  .list-hex-grid.large div.hex {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 767px) {
  .list-hex-grid.large div.hex {
    margin-top: 11px;
    margin-bottom: 11px;
  }
}
@media screen and (min-width: 768px) {
  .grid-1 {
    width: 138.56400000000002px;
  }
}
@media screen and (max-width: 767px) {
  .grid-1 {
    width: 60.621750000000006px;
  }
}
.grid-1.large {
  width: 325px;
}
@media screen and (min-width: 768px) {
  .list-hex-grid.large div.hex > a,
  .list-hex-grid.large div.hex > div {
    height: 80px;
    line-height: 160px;
  }
}
@media screen and (max-width: 767px) {
  .list-hex-grid.large div.hex > a,
  .list-hex-grid.large div.hex > div {
    height: 35px;
    line-height: 160px;
  }
}
.list-hex-grid.large div.hex .inner {
  top: 0px;
}
@media screen and (min-width: 768px) {
  .list-hex-grid.large div.hex .hex-1:before,
  .list-hex-grid.large div.hex .hex-2:before {
    height: 160px;
    width: 160px;
  }
}
@media screen and (max-width: 767px) {
  .list-hex-grid.large div.hex .hex-1:before,
  .list-hex-grid.large div.hex .hex-2:before {
    height: 70px;
    width: 70px;
  }
}
@media screen and (min-width: 768px) {
  .list-hex-grid.large div.hex .hex-1:before {
    -webkit-transform: rotate(-60deg) translate(-80px, 0);
    -moz-transform: rotate(-60deg) translate(-80px, 0);
    -ms-transform: rotate(-60deg) translate(-80px, 0);
    -o-transform: rotate(-60deg) translate(-80px, 0);
    transform: rotate(-60deg) translate(-80px, 0);
  }
}
@media screen and (max-width: 767px) {
  .list-hex-grid.large div.hex .hex-1:before {
    -webkit-transform: rotate(-60deg) translate(35px, 0);
    -moz-transform: rotate(-60deg) translate(35px, 0);
    -ms-transform: rotate(-60deg) translate(35px, 0);
    -o-transform: rotate(-60deg) translate(35px, 0);
    transform: rotate(-60deg) translate(35px, 0);
  }
}
@media screen and (min-width: 768px) {
  .list-hex-grid.large div.hex .hex-2:before {
    -webkit-transform: rotate(-60deg) translate(30px, 30px);
    -moz-transform: rotate(-60deg) translate(30px, 30px);
    -ms-transform: rotate(-60deg) translate(30px, 30px);
    -o-transform: rotate(-60deg) translate(30px, 30px);
    transform: rotate(-60deg) translate(30px, 30px);
  }
}
@media screen and (max-width: 767px) {
  .list-hex-grid.large div.hex .hex-2:before {
    -webkit-transform: rotate(-60deg) translate(-70px, 70px);
    -moz-transform: rotate(-60deg) translate(-70px, 70px);
    -ms-transform: rotate(-60deg) translate(-70px, 70px);
    -o-transform: rotate(-60deg) translate(-70px, 70px);
    transform: rotate(-60deg) translate(-70px, 70px);
  }
}
@media screen and (min-width: 768px) {
  .list-hex-grid.large div.hex > a,
  .list-hex-grid.large div.hex > div {
    -webkit-background-size: auto 300px;
    -moz-background-size: auto 300px;
    -o-background-size: auto 300px;
    background-size: auto 300px;
  }
}
@media screen and (max-width: 767px) {
  .list-hex-grid.large div.hex > a,
  .list-hex-grid.large div.hex > div {
    -webkit-background-size: auto 132px;
    -moz-background-size: auto 132px;
    -o-background-size: auto 132px;
    background-size: auto 132px;
  }
}
@media screen and (min-width: 768px) {
  .offset {
    margin-left: 75px;
  }
}
@media screen and (max-width: 767px) {
  .offset {
    margin-left: 33px;
  }
}
@media screen and (min-width: 768px) {
  .ideas {
    margin-left: 75px;
  }
}
@media screen and (max-width: 767px) {
  .ideas {
    margin-left: 0px;
  }
}
.clearfix,
.container,
.list-hex-grid {
  *zoom: 1;
}
.clearfix:after,
.container:after,
.list-hex-grid:after {
  content: "";
  display: table;
  clear: both;
}
.grid-1 {
  float: left;
  display: inline;
  position: relative;
}
@media screen and (min-width: 768px) {
  .grid-1 {
    margin-right: 10px;
  }
}
@media screen and (max-width: 767px) {
  .grid-1 {
    margin-right: 5px;
  }
}
.grid-1.alpha {
  margin-left: 0;
}
.grid-1.omega {
  margin-right: 0;
}
.grid-1.center {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.list-hex-grid div.hex.tertiary > a,
.list-hex-grid div.hex.tertiary > div {
  background-color: #bfbfbf;
}
.list-hex-grid div.hex.tertiary .after {
  background-color: #bfbfbf;
  border-color: #bfbfbf;
}
@media screen and (max-width: 767px) {
  div.modal-header > button.close {
    position: fixed;
    top: 10px;
    right: 20px;
  }
}
@media screen and (min-width: 768px) {
  .modal-content {
    height: 100%;
  }
}
@media screen and (max-width: 767px) {
  .modal-content {
    height: auto;
  }
}
.modal h1 {
  color: #FFFFFF;
  font-weight: 300;
  padding-top: 30px;
}
@media screen and (min-width: 768px) {
  .modal h1 {
    font-size: 80px;
  }
}
@media screen and (max-width: 767px) {
  .modal h1 {
    font-size: 40px;
    margin-top: 100px;
  }
}
.modal p {
  color: #FFFFFF;
  font-weight: 300;
}
@media screen and (min-width: 768px) {
  .modal p {
    font-size: 1.4em;
  }
}
@media screen and (max-width: 767px) {
  .modal p {
    font-size: 1em;
  }
}
.modal a:link,
.modal a:visited {
  text-decoration: none;
  font-weight: bold;
  text-transform: none;
  color: #FFFFFF;
}
.modal a:hover {
  color: #FFFFFF;
  border-bottom: 1.5px #FFFFFF dashed;
}
.build {
  font-size: 1.5em;
  font-weight: normal;
}
@media screen and (min-width: 768px) {
  .modal-body {
    height: 70%;
    overflow: auto;
  }
}
@media screen and (max-width: 767px) {
  .modal-body {
    height: auto;
    padding-top: 0px;
  }
}
